@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.layout {
  --color-browning: #594E4A;
  --color-light-tan: #A68E80;
  --color-light-tan-grey: #A69A94;
  --color-pearl: #F2F2F2;
  --color-success: #A3B59F;
  --color-warning: #D4C29A;
  --color-info: #B0C4DE;
  --color-danger: #D9A6A0;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-pearl);
  color: var(--color-browning);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}